
<h1 class="title">Pesquisar no Google</h1>
<div class="layout">
<div class="form-group">
  <div class="col-md-12 label-format">
    <label for="busca" class="control-label">Campo de busca do Google</label>
  </div>
  <div class="col-md-12">
    <input type="text" class="form-control" name="busca"
    id="busca" placeholder="Digite a palavra a ser pesquisada no google"/>
  </div>
  <br>
  <div class="col-md-12">
    <button type="submit" class="btn btn-info" >Pesquisar</button>
  </div>  
</div>